@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <div class="banner"><img src="~/Rectangle 3.png"/></div>

    @if (SignInManager.IsSignedIn(User))
    {
    <div class="ProfilePic">
        @if (User.Identity.IsAuthenticated)
        {
            var user = await UserManager.GetUserAsync(User);
            if (user != null && user.Picture != null)
            {
                <div class="ProfileBackground">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(user.Picture)" alt="User Picture">
                </div>
            }
            else
            {
                <p>No picture available</p>
            }
        }
    </div>
    <div class="UserInfo">
        <div class="Username">@User.Identity?.Name</div>
        <div class="Email">@User.FindFirstValue(ClaimTypes.Email)</div>
    </div>


    <form method="post" enctype="multipart/form-data">
        <label for="profileImage">Profile Image:</label>
        <input type="file" id="profileImage" name="Picture" accept=".jpg, .jpeg, .png" />
        <button type="submit">Save Changes</button>
    </form>


    <form id="fixed-button" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
    </form>
   
    }
    else
    {
        <div>Login Error</div>
    }
