@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating icon-input">
                <label asp-for="Input.Email">Email:</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating icon-input">
                <label asp-for="Input.Name">Name:</label>
                <input asp-for="Input.Name" class="form-control" autocomplete="Name" aria-required="true" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating icon-input">
                <label asp-for="Input.Surname">Surname:</label>
                <input asp-for="Input.Surname" class="form-control" autocomplete="Surname" aria-required="true" />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-floating icon-input">
                <label asp-for="Input.Nick">Nick:</label>
                <input asp-for="Input.Nick" class="form-control" autocomplete="Nick" aria-required="true" />
                <span asp-validation-for="Input.Nick" class="text-danger"></span>
            </div>
           
            <div class="form-floating icon-input">
                <label asp-for="Input.Password">Password:</label>
                <div class="input-icon">
                    <img src="~/fi_lock.png" class="icon" />
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" /> 
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating icon-input">
                <label asp-for="Input.ConfirmPassword">Confirm Password:</label>
                <div class="input-icon">
                    <img src="~/fi_lock.png" class="icon" />
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register
                <img class="log-reg-button-icon" src="~/fi_arrow-right.png" />
                </button>
        </form>
    </div>
  
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
