@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

header {
    background: #192E51;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 10px;
    margin-right: 28px;
}

.nav-link {
    text-decoration: none;
    color: #C6DBFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.form-control {
    display: block;
    width: 400px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: Lexend;
    color: #C6DBFE;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #87B4FF;
    background: #B5D0FF;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

body {
    margin-bottom: 60px;
    background: #C6DBFE;
    font-family: Lexend;
    color: #192E51;
    display: flex;
    flex-direction: column;
}

body, header {
    margin: 0;
    padding: 0;
}

tr {
    padding: 10px;
    border: solid;
}

td {
    border: solid;
    padding: 10px;
    margin: 10px;
}

h2 {
    margin: 10px;
}

table {
    border: solid;
}

th {
    border: solid;
}

button {
    display: flex;
    width: 200px;
    font-size: 20px;
    height: auto;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: #192E51;
    color: #C6DBFE;
    font-family: Lexend;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.rozwiaz-quiz {
    display: flex;
    width: 160px;
    height: 24px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: #192E51;
    color: #C6DBFE;
    font-family: Lexend;
    font-weight: 400;
}

.show-button-icon {
    margin-left: 8px;
    height: 24px;
    width: 24px;
}

.show-cat-icon {
    height: 52px;
}

.footer-icon {
    margin-left: 8px;
    height: 52px;
}

footer {
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container {
    flex-direction: row;
}

.start_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


#questionsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#nextButton {
    margin: 0 auto;
}

.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answer_button {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 2px solid #577ED3;
    background: #B5D0FF;
    color: #577ED3;
    font-weight: 700;
    width: 600px;
    margin: 10px;
    font-size: 24px;
    transition: transform 0.3s ease;
}

    #answer_button:hover {
        background: #192E51;
        color: #C6DBFE;
        transform: scale(1.1);
    }

#content {
    color: #192E51;
    text-align: center;
    font-family: Lexend;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.48px;
}

#countdownContainer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 35px;
    padding: 10px;
    justify-content: center;
    color: #192E51;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    border-radius: 25px;
    border: 1px solid #192E51;
}

#questionInfoContainer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 35px;
    padding: 10px;
    justify-content: center;
    color: #192E51;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

#resultContainer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 35px;
    padding: 10px;
    justify-content: center;
    color: #192E51;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

#alert-success {
    display: inline-flex;
    padding: 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 3px solid #4B772A;
    position: relative;
    padding-left: 20px;
}


    #alert-success::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 0;
        border-radius: 25px;
        background-color: #D4F1BE;
        animation: loading 3s infinite;
    }



#alert-wrong::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 0;
    border-radius: 25px;
    background-color: #F1CABE;
    animation: loading 3s infinite;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

#alert-wrong {
    display: inline-flex;
    padding: 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 3px solid #A54427;
    position: relative;
    padding-left: 20px;
}

#row {
    display: inline-flex;
    padding: 33px;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.display-4 {
    margin-bottom: 0.5em;
    color: #192E51;
    font-family: Lexend;
    font-size: 15vh;
    font-style: normal;
    font-weight: 600;
}

.button-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
}

.button-nav {
    margin: 0;
}

.button-link {
    display: flex;
    width: 48vh;
    height: 16vh;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #192E51;
    box-sizing: border-box;
    color: #C6DBFE;
    font-size: 4vh;
    font-weight: 500;
    letter-spacing: -0.36px;
}


#registerSubmit {
    display: flex;
    width: 328px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #192E51;
    color: #C6DBFE;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin-top: 20px;
}

#login-submit {
    display: flex;
    width: 328px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #192E51;
    color: #C6DBFE;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin-top: 20px;
}

.form-floating {
    color: #192E51;
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    display: flex;
    gap: 22px;
    width: 100%;
    align-items: flex-end;
    margin: 10px;
}

    .form-floating label, .form-floating span {
        flex: 1;
        margin-bottom: 4px;
    }

    .form-floating label {
        text-align: right;
    }

.text-danger {
    color: brown;
    font-size: 17px;
}

#registerForm {
    margin-top: 20px;
}

#account {
    margin-top: 20px;
}

#fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

    #fixed-button:hover {
        transform: scale(1.1);
    }

.banner {
    position: relative;
}

.ProfilePic {
    position: absolute;
    top: 38%;
    left: 5%;
    transform: translateY(-50%);
    width: 325px;
    height: 325px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #B5D0FF;
}

    .ProfilePic img {
        width: 100%;
        height: 100%;
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
    }

.UserInfo {
    margin-left: 420px;
    margin-top: 20px;
}

.ProfileBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-width: 0;
    background-color: #C6DBFE;
    padding: 10px;
}

.log-reg-button-icon {
    margin-left: 8px;
    height: 28px;
}

.log-reg-button-start {
    margin-left: 10px;
}

.icon-input .input-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-input .icon {
    position: absolute;
    margin-left: 8px; /* Dostosuj odleg³oœæ od lewej strony */
    height: 24px; /* Dostosuj wysokoœæ ikonki */
    margin-bottom:8px;
}
.icon-input input {
    padding-left: 30px; /* Dostosuj iloœæ paddingu od lewej strony */
}