html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
tr {
    padding: 10px;
    border: solid;
}
td {
    border:solid;
    padding: 10px;
    margin:10 px
    
}
table{
    border:solid;
}
th{
    border:solid;
}