@page
@model DepartmentsModel
@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

@foreach (var department in Model.Departments)
{
    @if (department.Nazwa == "IT")
    {
        <a asp-page="/Quizy" asp-route-dzialId="@department.DzialId">@department.Nazwa</a>
    }
    else
    {
        <p>
            <a asp-page="/SelectQuiz" asp-route-dzialId="@department.DzialId">@department.Nazwa</a>
        </p>
    }
}
