@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="post" asp-page="Pytania">
    <div class="form-group">
        <label for="SelectedCategory">Category:</label>
        <select class="form-control" id="category" asp-for="SelectedCategory">
            <option value="">Choose category</option>
            <option value="linux">Linux</option>
            <option value="bash">Bash</option>
            <option value="uncategorized">Uncategorized</option>
            <option value="docker">Docker</option>
            <option value="sql">SQL</option>
            <option value="cms">CMS</option>
            <option value="code">Code</option>
            <option value="devops">DevOps</option>
        </select>
    </div>
    <div class="form-group">
        <label for="SelectedDifficulty">Difficulty:</label>
        <select class="form-control" id="difficulty" asp-for="SelectedDifficulty">
            <option value="">Choose difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>

    <div class="form-group">
        <label for="SelectedLimit">Number of questions:</label>
        <select class="form-control" id="limit" asp-for="SelectedLimit">
            <option value="">20</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>

        </select>
    </div>
    <h2>
        <button type="submit">
            Start Quiz
            <img class="show-button-icon" src="~/right-arrow.png" />
        </button>
    </h2>
    
</form>

















