@page
@model Projekt_Quizy.Pages.ProfileModel
@{
    <partial name="_ProfilePartial"/>
}
<div>
    <h5>Current ranking position:@Model.CurrentUserRank</h5>
</div>
<div class="card">
    <div class="percent">
    <svg>
        <circle cx="105" cy="105" r="100"></circle>
            <circle cx="105" cy="105" r="100" style="--percent: @Math.Round(((double)Model.user.Points / (double)Model.user.PointsOverall) * 100) "></circle>
    </svg>
    <div class="number">
        
        <h3>
                @Math.Round(((double)Model.user.Points / (double)Model.user.PointsOverall) * 100)<span>%</span>
        </h3>
    </div>
</div>
<div class="diagram_label">
    <h4>Percentage score</h4>
</div>
</div>